@use './variable'; // Correct relative path to _variable.scss

.border {
  border: variable.$border-width solid variable.$border-default-color;
}

.border-primary {
  border: 2px solid blue;
}

.border-dashed {
  border: variable.$border-width dashed variable.$border-dashed-color;
}

.border-thick {
  border: 3px solid variable.$border-default-color;
}

.border-none {
  border: none;
}

.border-sm {
  border-width: variable.$border-sm;
}

.border-lg {
  border-width: variable.$border-lg;
}

.border-rounded {
  border-radius: variable.$border-radius-lg;
}

.border-rounded-lg {
  border-radius: 20px;
}
