@use 'variable';

.button-neutral{
    background-color: #000000;
    color: white;
    padding: variable.$padding-space-small;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition:0.15s;
    margin-bottom:10px;
}

.button-neutral:hover {
    background-color: #2f2f2f;
    color: rgb(226, 226, 226);
}

.button-neutral:active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.button-yes{
    background-color: #00840b;
    color: white;
    padding: variable.$padding-space-small;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition:0.15s;
    margin-bottom:10px;
}

.button-yes:hover {
    background-color: #00b652;
    color: rgb(226, 226, 226);
}

.button-yes:active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.button-no{
    background-color: #c22121;
    color: white;
    padding: variable.$padding-space-small;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition:0.15s;
    margin-bottom:10px;
}

.button-no:hover {
    background-color: #ff3636;
    color: rgb(226, 226, 226);
}

.button-no:active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}