@use './variable'; // Correct relative path to _variable.scss

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
  background-color: variable.$input-bg-color;
  border: 1px solid variable.$input-border-color;
  border-radius: variable.$input-border-radius;
  font-size: variable.$input-font-size;
  padding: variable.$input-padding;
  width: variable.$input-full-width;
  box-sizing: border-box;
  transition: border-color 0.3s;

  &:focus {
    border-color: variable.$input-focus-border;
    outline: none;
  }

  &:hover {
    border-color: variable.$input-hover-border;
  }
}

.select {
  background-color: variable.$input-bg-color;
  border: 1px solid variable.$input-border-color;
  border-radius: variable.$input-border-radius;
  padding: variable.$input-padding;
  font-size: variable.$input-font-size;
  width: variable.$input-full-width;
  box-sizing: border-box;
}

.input-error {
  border-color: red;
}

.input-success {
  border-color: green;
}
